<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <%= wicked_pdf_javascript_include_tag "number_pages" %>
        <style>
            h1
            {
                color: firebrick;
                vertical-align: middle;
            }
            h2
            {
                color: green;
            }
            .label
            {
                font-weight: bold;
                color: #333;
            }
            .infos
            {
                color: #444;
                padding-left: 20px;
            }
            .inlb, .inlb img, .inlb h1
            {
                display: inline-block;
                vertical-align: middle;
            }
            img
            {
                margin-right: 15px;
            }
        </style>
    </head>
    <body onload='number_pages'>        
        <div class="inlb"><%= wicked_pdf_image_tag 'images/logo.png' %><h1>Liste des utilisateurs inscrits</h1></div>
        <% @users.each do |user| %><hr>
            <h2>Utilisateur n°<%= user.id %></h2>
            <table>
                <tbody>
                    <tr>
                        <td class="label">Nom :</td>
                        <td class="infos"><%= user.nom %></td>
                    </tr>
                    <tr>
                        <td class="label">Email :</td>
                        <td class="infos"><%= user.email %></td>
                    </tr>
                    <tr>
                        <td class="label">Date de naissance :</td>
                        <td class="infos"><%= user.birthdate %></td>
                    </tr>
                    <tr>
                        <td class="label">Nombre de films vus par semaine :</td>
                        <td class="infos"><%= user.watchedMovies %></td>
                    </tr>
                    <tr>
                        <td class="label">Support favori pour visionner les films :</td>
                        <td class="infos"><%= user.nom %></td>
                    </tr>
                    <tr>
                        <td class="label">Nombre de livre lus par semaine :</td>
                        <td class="infos"><%= user.readBooks %></td>
                    </tr>
                    <tr>
                        <td class="label">Aimerait lire plus de livres :</td>
                        <td class="infos">
                            <% if(user.readMoreBooks) %>
                            Oui
                            <% else %>
                            Non
                            <% end %>
                        </td>
                    </tr>
                </tbody>                
            </table>
            
        <% end %>
    </body>
</html>