<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" id="content">
	<% if params[:just_created]  %>
		<div class="alert alert-success" role="alert">Merci <%= @user.nom %>, votre inscription a bien été prise en compte</div>
	<% end %>
	<h1>Informations - <%= @user.nom %></h1>
	<div>
		<div class="col-md-5 col-lg-5">
			Nom: <%= @user.nom %>
			<br>Email: <%= @user.email %>
			<br>Né(e) le <%= @user.birthdate.strftime("%d/%m/%Y") %> (<%= @age %> ans)
			<br>Films vu:
			<ul>
				<li>au cinéma: <%= @user.watchedMoviesCinema %></li>
				<li>à la TV: <%= @user.watchedMoviesTV %></li>
				<li>sur ordinateur: <%= @user.watchedMoviesComputer %></li>
				<li>sur tablette:<%= @user.watchedMoviesTablet %> </li>
			</ul>

			<br>Livres: <%= @user.readBooks %>
			<% if @user.readMoreBooks %>
				<br>Veut lire plus de livres
			<% else %>
				<br>Ne veut pas lire plus de livres
			<% end %>
		</div>
		<div class="col-md-7 col-lg-7 center">
			<% if !@user.cvPath.nil? %>
			<div class="col-lg-12 center">
				<iframe class="embed-responsive-item" src="/uploads/<%= @user.cvPath %>"></iframe>
			</div>
			<div class="col-lg-12 center">
				<%= link_to "/uploads/#{@user.id}.pdf", :class => "btn btn-red", :target => "_blank" do %>
				  <i class='fa fa-eye'></i> Afficher
				<% end %>
				<%= link_to "#{@user.id}/downloadCV", :class => "btn btn-red" do %>
				  <i class='fa fa-cloud-download'></i> Télécharger
				<% end %>
			</div>
			<% else %>
				<div class="col-lg-12 center"><i class="fa fa-exclamation-circle"></i> Aucun CV déposé</div>
			<% end %>
		</div>
	</div>
</div>
