<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" id="content">
	<h1>Statistiques du site</h1>
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="pill" href="#boxplot"><i class="fa fa-area-chart"></i> Films vus par support</a></li>
    <li><a data-toggle="pill" href="#barchart"><i class="fa fa-bar-chart"></i> Lecteurs/Non Lecteurs</a></li>
    <li><a data-toggle="pill" href="#piechart"><i class="fa fa-pie-chart"></i> Répartition de l'envie de lire</a></li>
  </ul>
  <div class="tab-content col-lg-12">
    <!-- Box plot -->
    <div id="boxplot" class="col-lg-12 tab-pane fade in active">
      <div  class='hidden' id="cinema"><%= @cinemaArray %></div>
      <div  class='hidden' id="tv"><%= @TVArray %></div>
      <div  class='hidden' id="computer"><%= @computerArray %></div>
      <div  class='hidden' id="tablet"><%= @tabletArray %></div>
      <div id="container"></div>
    </div>
    <!-- Histogramme -->
    <div id="barchart" class="col-lg-12 tab-pane fade">
      <div  class='hidden' id="lecteurs"><%= @lecteurs %></div>
      <div  class='hidden' id="non-lecteurs"><%= @nonLecteurs %></div>
      <div  id='chart_div'></div>
    </div>
    <!-- Camembert -->
    <div id="piechart" class="col-lg-12 tab-pane fade">
      <div  class='hidden' id="likeReading"><%= @aimeLire %></div>
      <div  class='hidden' id="dontLikeReading"><%= @aimePasLire %></div>
      <div id="chart_pie"></div>
    </div>
  </div>
</div>
<!-- Script requis pour générer le chart pie et le box plot -->
<script src="/highcharts/highcharts.js"></script>
<script src="/highcharts/highcharts-more.js"></script>
<!-- Script requis pour générer l'histogramme -->
<script type="text/javascript" src="/js/loader.js"></script>
<!-- Script perso pour configurer les graphiques générés -->
<script type="text/javascript" src="js/stats.js"></script>