<!DOCTYPE html>
<html>
  <head>
    <title><%= titre %></title>
    <%= csrf_meta_tag %>
    <!-- Inclusion de jQuery -->
    <script src="/js/jquery-2.2.1.min.js"></script>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <!-- Inclusion de Bootstrap -->
    <link rel="stylesheet" media="screen" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" media="screen" href="/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" media="screen" href="/bootstrap/css/font-awesome.min.css">
    <!-- Inclusion de datePicker -->
    <link rel="stylesheet" media="screen" href="/datepicker/css/bootstrap-datetimepicker.min.css">
    <script src="/js/moment-with-locales.min.js"></script>
    <script src="/datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <!-- CSS perso -->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  </head>
  <body>
    <!-- Menu de navigation -->
    <%= render 'layouts/header' %>
    <div id="body" class="container-fluid">
      <%= yield %>     
    </div>
    <!-- Footer -->
    <%= render 'layouts/footer' %>
  </body>
</html>