<!DOCTYPE html>
<html>
  <head>
    <title><%= titre %></title>
    <%= csrf_meta_tag %>
    <!-- Inclusion de jQuery -->
    <script src="/js/jquery-2.2.1.min.js"></script>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <!-- Inclusion de Bootstrap -->
    <link rel="stylesheet" media="screen" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" media="screen" href="/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" media="screen" href="/bootstrap/css/font-awesome.min.css">
    <!-- Inclusion de datePicker -->
    <link rel="stylesheet" media="screen" href="/datepicker/css/bootstrap-datetimepicker.min.css">
    <script src="/js/moment-with-locales.min.js"></script>
    <script src="/datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <!-- CSS perso -->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  </head>
  <body>
    <!-- Menu de navigation -->
    <header>
      <% logo = image_tag("logo.png", :alt => "Logo", :class => "logo") %>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to root_path, :class => "brand" do %>
                  <span><%= logo %><span class="brandName">Gem Le Cine</span></span>
              <% end %>     
          </div>
          <div class="collapse navbar-collapse" id="collapse-1">
            <ul class="nav navbar-nav">
              <li><%= link_to "Accueil", root_path %></li>
              <li><%= link_to "Membres", users_path %></li>
              <li><%= link_to "Statistiques", stats_path %></li>              
              <li><%= link_to "Aide", help_path %></li>              
              <li><%= link_to "Inscription", signup_path %></li>
            </ul>            
          </div>
        </div>
      </nav>
    </header>
    <div id="body" class="container-fluid">
      <%= yield %>     
    </div>
    <!-- Footer -->
    <%= render 'layouts/footer' %>
  </body>
</html>